{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "node": true,
    "mocha": true
  },
  "globals": {
    "Promise": true,
    "Uint8Array" : true,
    "ArrayBuffer" : true,
    "Set": true,
    "Map": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "tabWidth": 2,
      "printWidth": 100
    }],
    "no-dupe-class-members": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "error",

    "no-console": 0,
    "eqeqeq": ["error", "always", {"null": "ignore"}]
  }
}
